.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .container .item {
    flex: 0 0 calc(33% - 1em);
    margin: 0.30em 0.5em;
    border: 1px solid black;;
    border-radius: 5%;
    background-color: #ade8f4;
  }

  .item-content{
    padding: 5% 5% 5% 5%;
  }