/* Gallery Page */

/* Grid Title */

.grid-area{
    text-align: center;
    margin: 2rem 0;
}

.grid-area h1{
    font-size: 5rem;
    font-family: 'Reenie Beanie', cursive;
    color: white;
    margin: 3rem auto;
}

.grid-title{
    position: relative;
    text-transform: uppercase;
    display: inline-block; 
}

.grid-title::before,.grid-title::after{
    content: '';
    height: 100%;
    display: block;
    position: absolute;
}

.grid-title::before{
    background: white;
    z-index: -1;
    left: -2.5em;
    right: -2.5em;
}

.grid-title::after{
    background-color:#003f60;
    width: 98vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    top: 0;
}
.gridbody{
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

     background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%); 

    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);

    background-color: #aee1f9;
    background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);

    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);

    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #8eb8a5 0%, #5da6bd 74%);

    background-image: url("/Images/bg.jpg");
    background-size: 100%;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-gap: 1rem;
    width: 90%;
    justify-content: center;
    margin: auto;
}

.grid-item{
    background-color: white;
    margin: 2rem auto;
    padding: 1rem;
    transform: rotate(-2deg);

    transition: all 0.3s ease;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 0.4);
}

.grid-item p{
    font-family: 'Raleway', cursive;
    font-size: 1.7em;
    max-width: 70%;
    text-align: center;
    margin: 2rem auto;
}

.grid-item img{
    width: 15em;
    height: 15em;
    transition: all 0.3s ease;
}

.grid-item:hover{
    transform: rotate(0deg);
}

.grid-item img:hover{
    transform: scale(1);
}

.long img{
    width: 95%;
    height: auto;
    padding: 0 0 2rem 0;
}

.long{
    grid-row: 1/3;
    padding: 2.1rem 1rem;
}

.long1{
    grid-column: 1;
}

.long2{
    grid-column: 3;
}

/* Bubbles */

#bubblecontainer{
    position: relative;
}

#bubblecontainer span{
    position: absolute;
    bottom: 0px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.5);
    animation: animate 4s linear infinite;
}

#bubblecontainer span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%,-70%);
    background: radial-gradient(#fff,transparent);
    border-radius: 50%;
}

@keyframes animate {
    0%{
        transform: translateY(0%);
        opacity: 1;  
    }

    99%{
        opacity: 1;
    }

    100%{
        transform: translateY(-5000%);
        opacity: 0;
    }
}

#contact{
    padding: 0.5rem 0rem 1rem 0rem;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

.progress-container {
    width: 100%;
    height: 4px;
    background: #003f60;
}
.progress-bar {
    height: 4px;
    background: #08d3da;
    width: 0%;
}